body {
    background-image: url(https://images.steamusercontent.com/ugc/1674743029859866757/93596D3CADBEF60D47C41A1DE5EA3ADDA17970AD/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false);
}
.text-container {
    width: 60%;
    height: 90%;
    background-color: rgba(80, 80, 80, 0.9);
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}